<form action="/new" method="POST" class=" card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="full_name" >Write your full name</label>
            <input type="text" name="full_name" placeholder="Write your fullname" class="form-control rounded-8 bg-dark border-0 text-light">
        </div>
        <div class="mb-3">
            <label for="email">Write your email</label>
            <input type="text" name="email" placeholder="example@mail.com" class="form-control rounded-8 bg-dark border-0 text-light">
        </div>
        <div class="mb-3">
            <label for="phone">Write your phone</label>
            <input type="text" name="phone" placeholder="552198991019" class="form-control rounded-8 bg-dark border-0 text-light">
        </div>
    
        <button class="btn btn-primary"> save </button>
    </div>
</form>
    


